<h1>検索結果</h1>

<p>合計件数: <%= @rooms.count %></p>

<% @rooms.each do |room| %>
  <div>
    <h2><%= link_to room.name, room_path(room) %></h2>
    <p>住所: <%= room.address %></p>
    <p><%= room.description %></p>
    <p>宿泊料金: <%= room.price %>/日</p>
  </div>
<% end %>
