<h1 class="text-center my-4"><%= @room.name %></h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">画像</th>
        <th scope="col">施設名</th>
        <th scope="col">紹介文</th>
        <th scope="col">宿泊料金</th>
        <th scope="col">住所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @room.image.attached? %>
            <%= image_tag @room.image, size: "100x100", class: "img-thumbnail" %>
          <% else %>
            <span class="text-muted">画像なし</span>
          <% end %>
        </td>
        <td><%= @room.name %></td>
        <td><%= @room.description %></td>
        <td><%= @room.price %> 円 /日</td>
        <td><%= @room.address %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center mt-4">
  <%= link_to '戻る', :back, class: 'btn btn-secondary' %>
</div>
