<!DOCTYPE html>
<html>
  <head>
    <title>BookingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
          <% if user_signed_in? %>
  <div class="user-info">
    <%= image_tag current_user.avatar, size: "50x50" if current_user.avatar.attached? %>
    <span class="username"><%= current_user.username %></span>
    <div class="dropdown">
      <button class="dropbtn">▼</button>
      <div class="dropdown-content">
        <%= link_to '新規の施設登録', new_room_path %>
        <%= link_to '予約済み一覧', reservations_path %>
        <%= link_to '登録済み施設一覧', rooms_path %>
        <%= link_to 'アカウント設定', edit_user_settings_path %>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
